
.btn-menu{
    background-color: #319A75;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 2px;
    line-height: 18px;
}

.collapse{
    text-align: center;
}

.nav-item:hover{
    text-decoration: underline;
}

.item-menu{
    padding: 25px 12px;
    font-size: 1.5rem;
}

/* Inicio Foto perfil */
.perfil{
    color: #444444;
    margin-right: 70px;
    font-size: 0.8rem;

}

.perfil::after{
    content:url("../img/user.png");
    max-width:100%;
}
/* FIM Foto perfil */
  

section{
    background-color: rgba(223, 239, 219, 0.24);
    width: 100%;
    padding: 5%;
  
}

/* Titulo */
.titulo{
    color: #319A75;
    
}

/* Inicio Cards */

#ads {
    margin: 30px 0 30px 0;

   
}
.card-all{
    border-radius:20px !important;
}

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 5px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }
#ads .ad-btn {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: 1rem;
        line-height: 35px;
        text-align: center;
        border: 3px solid #067D4B;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #ffff;
        overflow: hidden;        
        position: relative;
        background-color: #067D4B;
        font-weight: bold;
    }

#ads .ad-btn:hover {
            background-color:#067D4B;
            color:#067D4B;
            border: 2px solid #067D4B;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        font-size: 18px;

    }

    /* Media para os botoes do card */

    @media screen and (max-width: 325px) {
.ad-btn{
    max-width: 100px;
    
}

#ads .ad-btn{
    font-size:0.7rem;
}
    }

    @media screen and (min-width: 768px) and (max-width: 990px) {
        .ad-btn{
            max-width: 100px;
            
        }
        
        #ads .ad-btn{
            font-size:0.7rem;
        }
    }

/* Fim dos cards*/

/* Inicio da lista de lembretes */
.todo__title{
    color:white;
    background-color:#067D4B;
    font-size:1.2rem;
    max-width:400px; 
    /* border-radius: 5%; */
    height: 40px;  
}
.btn-group{
    max-width: 100%;
}

.todo__tarefas-lista li .checked {
    color: #ccc;
    text-decoration: line-through; 
}

.todo__tarefas-lista li.over {
    border: 1px dashed #ccc; 
}
.todo-form__input{
    resize: none;
    max-width: 350px;
}

/* Fim da lista de lembretes  */

footer{
    padding: 30px;
    background-color: #929288;
    width: 100%;
    color: #ffffff;
}

footer h4{
    font-size: 1.0rem;
}

.rodape .nav-item .nav-link {
    color: #ffffff;
    display: inline;
}


