/* footer e rodape */

.btn-menu{
    background-color: #319A75;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 600;
}
.n-active{
    background-color: #FFFFFF;
    color:  #319A75;
    border: 1px solid #319A75;
}
.active:hover{
    background-color: #319A75;
    color: white;
}
.text-center{
    color: #444444;
}
.collapse{
    text-align: center;
}
.nav-item:hover{
    text-decoration: underline;
}
.item-menu{
    padding: 25px 12px;
    font-size: 1.5rem;
}
section{
    background-color: rgba(224, 239, 220, 0.24);
    width: 100%;
    padding-bottom: 2%;
}
.navbar-light .navbar-nav .nav-link {
    color: #444444;
}
footer{
    padding: 30px;
    background-color: #929288;
    width: 100%;
    color: #ffffff;
}
footer h4{
    font-size: 1.0rem;
}
.rodape .nav-item .nav-link {
    color: #ffffff;
    display: inline;
}

/*pagina 7*/

h4{
    margin-top: 1%;
}
#titulo-agendadas{
    color:  rgb(49, 155, 118);
}
#titulo-realizadas{
    color:  rgb(145, 145, 136);
}
#titulo-canceladas{
    color:   rgb(141, 60, 69);
}
.consulta{
    height: auto;
    border-radius: 29px;
    margin-top: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.consulta:hover{
    cursor: pointer;
}
.agendada{
    border: 3px solid rgb(49, 155, 118);
}
.agendada:hover{
    background-color:rgba(92, 195, 160, 0.3);
}
.realizada{
    border: 3px solid rgb(145, 145, 136);
}
.realizada:hover{
    background-color:rgba(146, 146, 136, 0.3);
}
.cancelada{
    border: 3px solid rgb(141, 60, 69);
}
.cancelada:hover{
    background-color:rgba(141, 60, 69, 0.3);
}

button{
    background-color: #319A75;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    margin-left: 1%;
    text-align: center;
}
button:hover{
    background-color:#5cc3a0
}
.botoes-consulta{
    display: none;
    margin-top: 1%;
}
p{
    font-size: 1.1rem;
    margin-bottom: 0;
}
.texto-expansao{
    display: none;
    padding-left: 1.5%;
}
.mais{
    text-align: end;
}
.menos{
    display: none;
}