.banner {
    width: 100%;
    height: 180px;
}
.logo {
    position: absolute;
    margin-top: 55px;
    margin-left: 40px;
}
section {
    background-color: rgba(223, 239, 219, 0.24);
}
.page-title {
    position: relative;
    padding: 30px 0px;
    box-sizing: border-box;
}
.label-form {
    color: #908f8f;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 3px;
}
h1{
   color: #2a764a!important;
}
h3 {
    color:#8d8178!important;
}
footer{
    padding: 30px;
    background-color: #929288;
    width: 100%;
    color: #ffffff;
}
footer h4{
    font-size: 1.0rem;
}
.rodape .nav-item .nav-link {
    color: #ffffff;
    display: inline;
}
.nav-item:hover{
    text-decoration: underline;
}
footer a:hover{
    color: #5cc3a0!important;
}
.btn-verde {
    width: 300px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: #2a764a;
    border: 1px solid #2a764a; 
    color: white;
}
.btn-verde:hover {
    background-color: rgb(000, 080, 052);
    border: 1px solid rgb(000, 080, 052); 
}
::-webkit-input-placeholder {
    color: #908f8f!important;
}
.style-input {
    border: 1px solid rgb(144, 143, 143); 
    border-radius: 7px;
    color: #908f8f;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
}