
.container-background {
    background-image: url("../images/background-2.jpg");
    background-size: cover;
    display: flex;
    height: 650px;
    justify-content: center;
}

.box-central{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.titulo-verde {
    color: #2a764a !important;
}

.label-form {
    color: #908f8f;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 3px;
}

.style-input {
    border: 1px solid rgb(144, 143, 143); 
    border-radius: 7px;
    color: #908f8f;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
}

::-webkit-input-placeholder {
    color: #908F8F!important;
}

.text-center{
    color: #444444;
}

.btn-verde {
    font-size: 1.5rem;
    background-color: #2a764a;
    color: #FFFFFF;
    border-radius: 7px;
}

.btn-verde:hover {
    background-color: rgb(000, 080, 052);
}

footer{
    padding: 30px;
    background-color: #929288;
    width: 100%;
    color: #ffffff;
}

footer h4{
    font-size: 1.0rem;
}

.rodape .nav-item .nav-link {
    color: #ffffff;
    display: inline;
    margin-left: -15px;
}

.nav-item:hover{
    text-decoration: underline;
}