.btn-lembrete {
        background-color: #319A75;
        color: #FFFFFF;
        padding: 10px 20px;
        font-size: 1.5rem;
        border-radius: 2px;
        line-height: 18px;
}
.btn-lembrete:hover {
    background-color: #1f5e48;
}

.intervalo{
    width: 20px;
}
