section{
    background-color: rgba(223, 239, 219, 0.24);
    width: 100%;
}

.banner {
    width: 100%;
    height: 180px;
}

.logo {
    position: absolute;
    margin-top: 55px;
    margin-left: 40px;
}

.color-text{
    color: #444444;
}

.collapse{
    text-align: center;
}

.nav-item:hover{
    text-decoration: underline;
}

.item-menu{
    font-size: 1.5rem;
}

.titulo-verde {
    color: #2a764a;  
}

.titulo-cinza {
    color: #8d8178;  
}

.label-form {
    color: #908f8f;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 3px;
}

.style-input {
    border: 1px solid rgb(144, 143, 143); 
    border-radius: 7px;
    color: #908f8f;
    font-size: 13px;
    height: 40px;
    padding: 0 15px;
}

.style-input-text-area {
    border: 1px solid #908f8f; 
    border-radius: 7px;
    color: #908f8f;
    font-size: 13px;
    padding: 0 15px;
}

::-webkit-input-placeholder {
    color: #908F8F !important;
}

.btn-verde {
    font-size: 14px;
    font-weight: 700;
    background-color: #2a764a;
    border: 1px solid #2a764a;
    color : white;
}

.btn-verde:hover {
    background-color: rgb(000, 080, 052);
    border: 1px solid rgb(000, 080, 052); 
}

.btn-cinza {
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(108, 108, 100);
    border: 1px solid rgb(108, 108, 100);
    color: white;
}

.btn-cinza:hover {
    background-color: rgb(146, 146, 136);
    border: 1px solid rgb(146, 146, 136);
}


.navbar-light .navbar-nav .nav-link {
    color: #444444;
}

footer{
    padding: 30px;
    background-color: #929288;
    width: 100%;
    color: #ffffff;
}

footer h4{
    font-size: 1.0rem;
}

.rodape .nav-item .nav-link {
    color: #ffffff;
    display: inline;
    margin-left: -15px;
}

.modal-title {
    color: #8d8178; 
}

.modal-salvar-msg {
    color: #8d8178;
    font-size: 13px;
}